<div class='header'>
  <div class="container">
    <div class="logo">
      <!-- Link to the homepage (root of the domain) -->
      <a href="https://www.doctelligence.org">
        <img width="{{ site.logo.desktop_width }}" height="{{ site.logo.desktop_height }}" alt="{{ site.title }}" src="{{ site.logo.desktop | relative_url }}" />
      </a>
    </div>
    <div class="logo-mobile">
      <!-- Link to the homepage (root of the domain) for mobile -->
      <a href="https://www.doctelligence.org">
        <img width="{{ site.logo.mobile_width }}" height="{{ site.logo.mobile_height }}" alt="{{ site.title }}" src="{{ site.logo.mobile | relative_url }}" />
      </a>
    </div>
    {% include main-menu.html %}
    {% include hamburger.html %}
  </div>
</div>
 
