---
---

// Colors
$primary: #5075A4;  // Soothing professional blue
$primary-dark: #3D5A80;  // Deeper navy blue, soft yet profound
$secondary: #E9EFF5;  // Light grey with minimal blue tone, softer and lighter
$black: #4A4E69;  // Soft charcoal grey, sophisticated
$white: #F0F4F8;  // Very soft white, great for UI backgrounds
$white-offset: #F5F9FC;  // Even lighter, almost pure white, providing a subtle contrast
$steel: #738290;  // Muted grey-blue, complementary to the primary colors

// Links
$link-color: $primary;
$link-decoration: none;
$link-hover-color: lighten($primary, 10%);  // Slightly lighter on hover for accessibility
$link-hover-decoration: underline;

// Fonts
$font-family-base: 'Helvetica Neue', Arial, sans-serif, -apple-system;
$font-family-heading: "Playfair Display", serif, -apple-system;

// Footer
$footer-background-color: $primary-dark;  // Matches primary dark for cohesive depth
$sub-footer-background-color: $primary-dark;  // Uniform with the footer background
$footer-text-color: $white;  // Clear and readable
$sub-footer-text-color: $white;  // Consistent with footer text color

// Bootstrap
@import "bootstrap-variables";
@import "bootstrap/bootstrap-reboot";
@import "bootstrap/bootstrap-grid";
// @import 'bootstrap/bootstrap'; // Uncomment this line to import the entire Bootstrap library

// Libraries
@import "libraries/hamburgers/hamburgers";

// Components
@import "components/type";
@import "components/page";
@import "components/header";
@import "components/footer";
@import "components/sub-footer";
@import "components/logo";
@import "components/main-menu";
@import "components/main-menu-mobile";
@import "components/hamburger";
@import "components/buttons";
@import "components/call";
@import "components/title";
@import "components/content";
@import "components/intro";
@import "components/intro-image";
@import "components/strip";
@import "components/feature";
@import "components/social";
// @import "components/fonts"; // Uncomment this line to self host font

// Pages
@import "pages/page-home";
@import "pages/page-teams";
@import "pages/page-service";

body {
  font-size: 16px;
  line-height: 1.2;
  font-family: $font-family-base;
  @include media-breakpoint-up(md) {
    font-size: 16px;
    line-height: 1.3;
  }
}
